body {
    display: flex;
    text-align: left;
    justify-content: left;
    margin-top: 20px;
    background-image: url('https://mclaren.scene7.com/is/image/mclaren/McLarenArtura-16:crop-16x9?wid=1980&hei=1114');
    background-size: cover;

}

button {
    width: 30vw;
    height: 4rem;
    font-size: 1.2rem;
    margin-top: -10px;
    background-color: #d05a00;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
  }

  button:hover {
    background-color: #d05a00;
  }
  
  button:disabled {
    background-color: gray;
  }
  
  h1 {
    font-size: 3rem;
    text-align: center;
    color: #d05a00;
  }

  form{
    margin-top: 20px;
    color:rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: -20px;
    text-align: left;
  }
  
  input{
    width: 200px;
    height: 2.0rem;
    background-color: #fcfcfc;
    color: #d05a00;
    outline: none;
    border: 1.5px solid #d05a00;
    justify-content: left;
    margin-bottom: 20px;
    text-align: left;
  }

  h4 {
font-size: large;
}
 
#acc{
  margin-bottom: -18px;
}

#box{
margin-left: 0px;
width: 30px;
}